* {
  margin: 0;
  padding: 0;	
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(-45deg, #1c92d2, #f2fcfe);
  background-repeat: no-repeat;
  background-size: cover;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
  margin-top: 2em;
}

#yellow-block {
  position: absolute;
  margin-top: 7px;
  margin-left: 0px;
  width: 15px;
  height: 20px;
  background-color: yellow;
  padding: 0;
}

.keyboard-container {
  margin-top: 180px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}